---
layout: archive
---

<head>
  <script language="javascript">

    <!--
    
    function login_page(form) {
    
    if (form.pass.value=="1234") {
    
    location="http://wownoori.com/wow/"
    
    } else {
    
    alert("패스워드가 틀립니다.")
    
    }
    
    }
    
    </script>
</head>

<br>
<br>

<body>
  <p>해당 페이지는 비밀번호 입력으로 이용가능합니다.</p>

<form name="loginForm">

<p style="margin-bottom:20;"> 비밀번호입력

<input name="pass" type="password" size="12">

<input type="button" value="확 인" onClick="login_page(this.form)" style="font-weight:bolder; font-size:4mm;">

<br>

</form>
</body>

<H1 align="center">관리자시스템 매뉴얼</H1>
<br>
<br>

<center>
<img src= "/assets/images/hand.png">
</center>


{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
-->